/node_modules
/public/hot
/public/storage
/public/product_image
/public/profile
/public/category
/public/banner
/storage/*.key
/vendor
.gitignore
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log