
@media only screen and (max-width: 5000px){
	.search_container-1{display: none !important;}
}

@media only screen and (max-width: 1400px){
	.search_container-1{display: none !important;}
}

@media only screen and (max-width: 1140px){
	.search_container-1{display: none !important;}
}

@media only screen and (min-width: 768px){
	.search_container-1{display: none !important;}
}

@media only screen and (max-width: 767px){
	.search_container-1{display: block !important;}
}

@media only screen and (max-width: 599px){
	.search_container-1{display: block !important;}
	ol.progtrckr li:before {
		bottom: -65px !important;
		left: 23% !important;
	}
	.mob-none{
		display: none !important;
	}
}

@media only screen and (max-width: 479px) {
	.search_container-1{display: block !important;}
	ol.progtrckr li:before {
		bottom: -65px  !important;
		left: 23% !important;
	}
	.mob-none{
		display: none !important;
	}
	#singleadd {
		width: 100%;
		height: auto !important;
	}
	.float{
		/* position:fixed; */
		width:120px !important;
		height:50px !important;
	}
	.button-buynow1 {
		width: 260px !important;
	}
	.button-buynow, .button-buynow1 {
		margin: 20px 10px 20px 0px;}
		.comment_thmb img {
			width: 70px !important;
		}

		.shareUrl-input {
			font-size:12px !important;
		}

}
